<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/servidor/public/css/style.css">
  <title>Pagina de Cadastro</title>
</head>
<body>
  <div class="cadastro-container">
    <div class="cadastro-header">
      <h2>Faça o seu cadastro</h2>
    </div>
    <form method="post" action="/usuarios/cadastrar">
      <input type="text" class="cadastro-input" placeholder="Nome do Usuario" name="nome" required>
      <input type="password" class="cadastro-input" placeholder="Senha" name="senha" required>
      <input type="password" class="cadastro-input" placeholder="Confirme Senha" name="confirmesenha" required>
      <button type="submit" class="cadastro-button">Cadastrar</button>
    </form>
  </div>
</body>
</html>