<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/servidor/public/css/style.css">
  <title>Login</title>
</head>
<body>
  <div class="login-container">
    <div class="login-header">
      <h2>Formulário de Login</h2>
    </div>
    <form action="logar" method="post">
      <input type="text" class="login-input" placeholder="Usuário" name="usuario" required>
      <input type="password" class="login-input" placeholder="Senha" name="senha" required>
      <button type="submit" class="login-button">Entrar</button>
    </form>
  </div>
</body>
</html>