<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Autenticação</title>
</head>
<body class="body">
  <div class="container">
    <h1>Autenticação:</h1>
    <form action="/logar" method="post">
      <div class="input-field">
        <input required type="text" placeholder="Usuário" name="user">
      </div>
      <div class="input-field">
        <input required type="password" placeholder="Senha" name="pass">
      </div>
      <div class="input-field">
        <input type="submit" name="Entrar" value="Entrar"/>
      </div>
    </form>
  </div>
</body>
</html>